<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="inner">
        <a href="mainPage.html" class="logo">DE BON</a>

        <ul>
            <li><a href="#">Introducing Debon</a></li>
            <li class="splitBar">|</li>
            <li><a href="#">Terms and Conditions</a></li>
            <li class="splitBar">|</li>
            <li><a href="#">Personal information processing policy</a></li>
        </ul>
        <pre>
                  Debon | Representative: Chungbuk National University | Headquarters: Chungbuk National University, Chung-daero 1, Seowon-gu, Cheongju-si, Chungcheongbuk-do
                  | Representative phone number : 1522 - 9774 | Fax : 02 - 540 - 2237
                  Business number : 261 - 81 - 15766 | Debon Bread Business Number : 680 - 87 - 00452
                  Products sold within the Cyber Mall include Marketplace (open market) products sold by individual sellers registered with Debon.
                  In the case of marketplace (open market) products, Debon is a mail order broker and is not a party to mail order.
                  Debon is not responsible for marketplace (open market) products, transaction information, transactions, etc.

                  Copyright © Debon All rights reserved.
        </pre>
    </div>
  </body>
</html>