<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="inner">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="mainPage.html">DE BON</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="brand.html">BRAND</a></li>
                        <li><a href="menu.html">MENU</a></li>
                        <li><a href="custom.html">ORDER</a></li>
                        <li><a href="news.html">NEWS</a></li>
                        <li><a href="mypage.html">MYPAGE</a></li>
                        <li><a href="DessertLogin.html">LOGIN</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
  </body>
</html>