<title>김성락contact</title>
<style>    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    h1 {
        color: #333;
        font-size: 24px;
        text-align: center;
        margin-top: 40px;
    }

    .contact-info {
        margin-top: 40px;
        text-align: center;
    }

    .contact-info p {
        margin-bottom: 10px;
        font-weight: bold;
    }

    .contact-info a {
        color: #333;
        text-decoration: none;
    }

    .contact-info a:hover {
        text-decoration: underline;
    }

    footer {
        background-color: #f1f1f1;
        padding: 20px;
        text-align: center;
        color: #777;
        font-size: 14px;
    }
</style>


    <div class="contact-info">
        <p>학번: 2021041003</p>
        <p>전화번호: 010-6758-4885</p>
        <p>이메일:  <a href="https://mail.google.com/">ericrak5151@gmail.com</a></p>
        <p>깃허브: <a href="https://github.com/Rag1rag1">https://github.com/Rag1rag1</a></p>
    </div>
</div>
    {% load static %}

    <link rel="stylesheet" type="text" href="{% static 'css/contact.css' %}">
<footer>
    <a href="/pybo/dandaegi">
    <p>&copy; 2023 단데기 웹 페이지. All rights reserved.</p>
    </a>
</footer>